.musk{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.2);
  position: fixed;
  z-index: 3;
  transition: all .1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}