.musk{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.2);
  position: fixed;
  z-index: 3;
  transition: all .1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
h5{
  color: #99999a;
  margin: 5px 0;
}
.between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr{
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 95%;
  border-top: 1px solid #E2E3E4;
}